@using Airline_Ticket_Reservation.Controllers
@using Application
@using Application.ViewModels
@model Application.Pagination.PaginationInfoWithItems<ListFlightViewModel>

@{
    ViewData["Title"] = "Index";
    var elementModel = new ListFlightViewModel();
    var startPage = Model.Page - 2 > 0 ? Model.Page - 2 : 1;
    var endPage = Model.Page + 2 > Model.TotalPages ? Model.TotalPages : Model.Page + 2;
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => elementModel.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => elementModel.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => elementModel.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => elementModel.CountryFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => elementModel.CountryTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => elementModel.AvailableSeats)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.ActionLink("Book", nameof(FlightsController.Book), "Flights", new {  flightId=item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="_PageNavigationPartial" model="Model" view-data="ViewData"/>