@using Domain.Enums
@using Application.ViewModels
@using System.Collections.Immutable
@using Airline_Ticket_Reservation.Controllers
@model Application.Pagination.PaginationInfoWithItems<ListTicketViewModel>

@{
    ViewData["Title"] = "Tickets";
    ViewData["View"] = nameof(FlightsController.Tickets);
    var cnt = 0;
    var tickets = Model.PageItems.ToImmutableArray();
}
@section Styles
{
    <link rel="stylesheet" href="~/css/ticket.css"/>
}

<h1>Tickets</h1>
<div class="container mt-4">
    @while (cnt < tickets.Length)
    {
        <div class="row">
            @for (int i = 0; i < 2 && cnt < tickets.Length; i++)
            {
                var currentTicket = tickets[cnt];
                <article class="card fl-left @(currentTicket.Cancelled ? "cancelled" : "") ">
                    <section class="date">
                        <time datetime="@currentTicket.DepartureDate">
                            <span>@currentTicket.DepartureDate.Day</span><span>@currentTicket.DepartureDate.ToString("MMM")</span>
                        </time>
                    </section>
                    <section class="card-cont">
                        <small>Ticket #@currentTicket.Id</small>
                        <h3>Destination @currentTicket.CountryTo</h3>
                        <div class="even-date">
                            <i class="fa fa-calendar"></i>
                            <time>
                                <span>@currentTicket.DepartureDate</span>
                                <span>@currentTicket.ArrivalDate</span>
                            </time>
                        </div>
                        <div class="even-info">
                            <i class="fa fa-map-marker"></i>
                            @if (!currentTicket.Cancelled)
                            {
                                <p>
                                    @Enum.GetName(typeof(SeatType), currentTicket.SeatType!.Value)
                                </p>
                            }
                        </div>
                        @if (currentTicket is {Cancelled: false, CanCancel: true})
                        {
                            <a class="btn btn-danger" href="\Flights\Cancel?ticketId=@currentTicket.Id" onclick='return window.confirm("Are you sure?")'>Cancel</a>
                        }
                        else
                        {
                            <span class="badge bg-danger span-md">Cancelled</span>
                        }
                    </section>
                </article>
                cnt++;
            }
        </div>
    }
</div>

<partial name="_PageNavigationPartial" model="Model" view-data="ViewData"/>
