@using Airline_Ticket_Reservation.Controllers
@model Application.Contracts.IPaginationInfo

@{
    var startPage = Model.Page - 2 > 0 ? Model.Page - 2 : 1;
    var endPage = Model.Page + 2 > Model.TotalPages ? Model.TotalPages : Model.Page + 2;
    var action = (string) (ViewData["View"] ?? nameof(HomeController.Index));
}

<nav class="d-flex justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(action, new {page = Model.Page - 1})" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
            
        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == Model.Page ? "active" : "")">
                <a class="page-link" href="@Url.Action(action, new { page = i, pageSize = Model.PageSize })">@i</a>
            </li>
        }
    
        <li class="page-item @(Model.Page >= Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(action, new { page = Model.Page + 1, pageSize = Model.PageSize})">Next</a>
        </li>
    </ul>
</nav>